@media screen and (max-device-width: 480px){
body{
    -webkit-text-size-adjust: 100%;
        }
        }
p { font-size : 17px; }
h1 { padding : 0; margin : 0; font-size : 38px; }
h2 { font-size : 28px; margin : 0; padding : 0; }
h3 { margin : 24px 0; }
body { padding : 0; font-family: 'Lato', sans-serif; font-size : 17px; } 
.title { width : 1000px; margin : 20px auto; color : #000; margin-top : 30px; }
.title a, .title a:visited {position : relative;}
.container { width : 1000px; margin : 1px auto; border-radius: 20px; padding : 15px; padding-bottom : 0; clear:both; }
#bio { height : 250px; position: relative; float : left; width : 400px; }
#me { border : 0 solid black; margin-bottom : 30px; border-radius : 10px; }
#sidebar { margin-left:80px; margin-right : 50px; border : 0 solid black; float : left; margin-bottom : 0;}
a { text-decoration : none; }
a:hover { text-decoration : underline; }
a, a:visited { color : #3366cc; }
.publogo { margin-right : 20px; float : left; border : 0;}
.publication { clear : left; padding-bottom : 3px; }
.publication-short { padding-left : 120px; }
.publication p { height : 100px; padding-top : 0px;}
.publication-short p { height : 0; }
.publication strong a { color : #000; text-decoration  :none; }
.publication strong a:hover { text-decoration : underline; }
.publication .links { position : relative; top : 15px }
.publication .links a { margin-right : 15px; }
.publication .links strong { margin-right : 20px; }
.publication img { border-radius : 5px; }
.press { display : inline-block; padding : 5px; height : 40px;}
.press a img { border : 3px solid #fff; border-radius : 10px; padding : 4px; }
.press a img:hover { border-color : #3366cc; }
.talk { display : inline-block; text-align : center; padding : 0 15px;}
.talk img { margin-bottom : 5px; }
.talk a img { border : 3px solid #fff; border-radius : 10px; padding : 5px; }
.talk a img:hover { border-color : #3366cc; }
.codelogo { margin-right : 50px; float : left; border : 0;}
.code { padding-bottom : 10px; vertical-align :middle; height : 150px !important; width : 550px;} 
.code .download a { display : block; margin : 0 30px 0 0; float : left;}
.code strong { display : block; padding-bottom : 10px;}
.code strong a { color : #000; }
.code img { border-radius : 5px; }
.external a { margin : 0 10px; }
.external a.first { margin : 0 10px 0 0; }
#news li { padding : 1px 0; }
#news li li { padding : 1px 0; }
#news li:last-child { padding-bottom : 0; }
#news li:last-child li:last-child { padding-bottom : 0; }
#news strong a { color : black; }
.new { background-color : #cc0000; color:white; border-radius : 5px; padding : 2px; font-size : 14px; margin : 0 10px;}